body{

font-family:Arial, sans-serif, helvetica;
background:#e8e8e8;
}

.menu{
border: 1px solid #000;
list-style:none;
padding:10px 20px;
background:#092327;
width:90%;
max-width:1000px;
margin:20px auto;

}

.menu li{
display:inline-block;
text-align:center;
}

.menu li a{
color:#fff;
text-decpration:none;
display:block;
padding:20px;
}

.menu li a:hover{
background:#ef8354;
}
